*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0%;
}

nav {
    height: 7vh;
    background-color: rgb(56, 58, 58);
   
}

nav a{
    font-size: 2em;
    color: thistle;
}

.content{
    background-color:rgb(234, 237, 241);
    padding: 20px;
}

.wrap{
    background-color: rgb(193, 193, 193);
    padding: 10px 80px;
}

.main{
    margin: 30px;
    background-color: rgb(241, 243, 242);
    color: rgb(63, 61, 61);
    border-radius: 20px;
    padding: 10px 0;
}

.main > h1{
    margin: 20px 0 30px 30px;
}

.cross{
    height: 10vh;
    width: 100%;
    background-color:rgb(45, 127, 185);
    font-size: 1.5em;
    padding:0 40px;
    margin: 20px 0;
    line-height: 50px;
    color: rgb(255, 247, 244);
}

.avtImg{
    width: 20vw;
    margin: 30px 0;
}

.mainInfo{
    padding: 50px;
    height: 100vh;
}

.left{
    width: 35%;
    float: left;
}

.right{
    float: right;
    width: 60%;
    min-height: 50vh;
    /* background-color: black; */
}

.avt{
    height: 530px;
    background-color: white ;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 2px rgb(70, 69, 69);
    padding: 10px;
}

.avt p{
    font-size: 1.5em;
}

.soLuoc{
    padding: 30px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 2px rgb(70, 69, 69);
}

.exp{
    margin: 20px 0;
    padding: 30px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 2px rgb(70, 69, 69);
}