
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #dcdde0;
  color: rgb(75, 72, 72);
  background-image: url("../../assets/img/lh.png");
  background-repeat: no-repeat;
  background-size: 100% 400%;
  opacity: 0.8;
  height: 50vh;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 5px 10px 5px black;
  z-index: 1;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.2em;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgb(186, 205, 209);
  color: black;
  font-size: 1.3em;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #b0b49f;
  padding: 20px;
  border-right: 1px solid black;
  box-shadow: 5px 0px 10px 0px rgb(95, 94, 94);
  z-index: 1;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: rgb(232, 243, 217);
  padding: 20px;
}

.fakeimg{
  display: block;
  background-color: #aaa;
  width: 100%;
  /* padding: 20px; */
  border-radius: 10px;
  
}

.fakeimgp {
  background-color: rgb(99, 95, 95);
  width: 100%;
  padding: 20px;
  border-radius: 10px 30px 10px 10px;
 
}

.fakeimgp a{
  color: white;
}

.fakeimgp:hover{
  background-color: rgb(152, 155, 151);
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(61, 59, 59);
  border: 1px solid rgb(107, 106, 106);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
/*====================Phần hiển thị hình ảnh portfolio*/
 h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
.rowportfolio {
    margin: 10px 20px;
  }
  
  /* Add padding BETWEEN each column */
 .rowportfolio,
  .rowportfolio > .columnportfolio {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
 .columnportfolio {
    float: left;
    width: 30%;
    height: 300px;
    box-shadow: 0 2px 4px rgba(79, 79, 80, 0.2);
    margin: 5px;
    
  }
  
  /* Clear floats after rows */ 
  .rowportfolio:after {
    content: "";
    /* display: table; */
    /* clear: both; */
  }
  
  /* Content */
 .contentportfolio {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
 .showportfolio {
    display: block;
  }
  
  /* Style the buttons */
 .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
   .btn:hover {
    background-color: #ddd;
  }
  
   .btn.active {
    background-color: #666;
    color: white;
  }
  
  a{
    text-decoration: none;
  }

div ul li{
  list-style-type: none;
  border-bottom: 1px solid black;
}

div ul li:hover{
  color: rgb(119, 86, 86);
  cursor: pointer;
}

  .hideContent{
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: none;
  }

  .list{
    display: none;
  }

  .more:hover{
    color: rgb(255, 251, 251);
    cursor: pointer;
  }